body {
  font-family: Courier New;
  background-color: lightgoldenrodyellow;
  text-align: center;
}

button {
  background-color: yellow;
  padding: 10px 10px;
  font-size: 18px;
  font-family: Papyrus;
  font-weight: bold;
}
