body {
  font-family: Courier New;
  background-color: lightpink;
  text-align: center;
}

button {
  background-color: rgb(207, 145, 192);
  padding: 10px 10px;
  font-size: 18px;
  font-family: Papyrus;
  font-weight: bold;
}
