body {
  font-family: Courier New;
  background-color: lightblue;
  text-align: center;
}

button {
  color: white;
  padding: 10px 10px;
  font-size: 18px;
  font-family: Courier New;
  font-weight: bold;
}
